@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Staatliches&display=swap');

*{box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    
}
:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    /* color:#fff; */
}
body{ 
    min-width: 640px; 
    background: #ccae81;
}
.inner{
    width: 100%;
    margin: 0 auto;
}

header .inner{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header .inner .logo{
    margin-left: 0;
}
header .gnb{
    display: flex;
    margin-right:0;
}

/*sec01*/
.down{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    position: absolute;
    bottom: -50%;
    right: 10%;
}
.vertical-slide.s01 .title h1{
    font-size : 6rem;
}

/*sec02*/
.vertical-slide.s02 .slide-content.inner{
    display: flex;
    flex-direction: column;
    padding: 160px 0;
    z-index: 1;
}
.right{
    width: 60%;
    color: #fff;
    padding: 30px;
}
.right .bt{
   
    margin-top: 60px;

}
/*s03*/
.vertical-slide.s03 .slide-content.inner{
    display: flex;
    flex-direction: column;
    padding: 160px 0;
    z-index: 1;
}
/*s04*/